@import url('https://rsms.me/inter/inter.css');

body {
  font-family: Inter, 'serif';
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffeded;
}

#root {
  width: 75%;
}

.header {
  font-weight: bold; 
  font-size: 3rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiPaper-root {
  width: 50%;
  margin: 10px !important;
}

.MuiButtonBase-root {
  margin: 10px !important;
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
}
