@import url('https://rsms.me/inter/inter.css');

body {
  font-family: Inter, 'serif';
  background: #ffeded;
  display: flex;
  justify-content: center;
}

.header {
  font-weight: bold; 
  font-size: 3rem;
  text-align: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.list-container {
  height: 100vh;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MuiPaper-root {
  width: 100%;
  margin: 10px !important;
}

.MuiButtonBase-root {
  margin: 10px !important;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btns {
  display: flex;
  justify-content: center;
}
